<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!--<add key="OrchardCore" value="https://www.myget.org/F/orchardcore-dev/api/v3/index.json" />-->
    <add key="Nexus" value="http://nexus.svccloud.cn/repository/nuget-group/" />
  </packageSources>
  <disabledPackageSources />
</configuration>
